{% set navigation_bar = [
        ('/manage', 'main', 'Main'),
        ('/manage/users', 'users', 'Users'),
        ('/manage/people', 'people', 'People'),
        ('/manage/penalties', 'penalties', 'Penalties'),
        ('/manage/cities', 'cities', 'Cities'),
        ('/manage/teams', 'teams', 'Teams'),
        ('/manage/players', 'players', 'Players'),
        ('/manage/sponsorships', 'sponsorships', 'Sponsorships'),
        ('/manage/stadiums', 'stadiums', 'Stadiums'),
        ('/manage/countries', 'countries', 'Countries'),
        ('/manage/leagues', 'leagues', 'Leagues')] -%}
{% set active_page = active_page|default('main') -%}

<!DOCTYPE html>

<!-- Head area -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Oguz Kerem Tural, Umut Can Ozyar, Mert Seker, Furkan Akgun, Emine Oyku Bozkir">

    <!-- jQuery DataTables library for pretty tables -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCZGB4LyytNSiSk3hsmIrgM0ikaOO3NMUs"></script>

    <!-- Bootstrap JS ve CSS files taken from Bootstrap CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">


    <!-- FontAwesome Library for different icons -->
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <!-- Custom CSS style -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Custom js functions -->
    <script src="/static/js/custom.js"></script>

    <title>DBall | {% block title %}{% endblock %}</title>

</head>
<!-- End Head area -->


<!-- Body area -->
<body class="body-manager">
    <!-- Navbar area -->
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nav-bar" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('manage') }}">DBall Manager</a>
                </div>
                <div id="nav-bar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav visible-xs-block">
                        {% for href, id, caption in navigation_bar %}
                              <li{% if id == active_page %} class="active"{% endif %}>
                                  <a href="{{ href|e }}">{{ caption|e }}</a>
                              </li>
                        {% endfor %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!-- User navbar area -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                 {{ session.email }}
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                            </ul>
                        </li>
                        <!-- End user navbar area -->
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End Navbar area -->
  <div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="well-lg">
                    <h1 class="page-header">DBall Manager <small>/{{ active_page }}</small></h1>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
  </div>

</body>
<!-- End Body area -->

</html>