{% extends "manager/layout.html" %}
{% block title %}Main{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Change Log
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <th>Description</th>
                <th>Author</th>
                <th>Time</th>
                {% if log_data %}
                    {% for log in log_data %}
                        <tr>
                            <td>{{log['description']}} </td>
                            <td>{{log['author']}}</td>
                            <td>{{log['time']}}</td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </table>
        </div>
    </div>
{% endblock %}