{% extends "manager/layout.html" %}
{% block title %}Main{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Change Log
        </div>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus non eros nec odio facilisis scelerisque a id erat.
            Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nulla tincidunt at risus eget accumsan.
            Curabitur vel ante eget mauris congue elementum in elementum urna.
            Vivamus bibendum vel ante ut sollicitudin. Aliquam tincidunt elementum gravida.
            Fusce quis est nec diam ullamcorper rhoncus sed dictum eros. Vivamus nec velit quis
            neque elementum lacinia non at nulla. In ut ornare neque. Praesent aliquam mi et
            lacus lacinia, non pellentesque neque consequat. Vivamus scelerisque scelerisque condimentum.
        </div>
    </div>
{% endblock %}