{% extends "manager/layout.html" %}
{% block title %}Stadiums{% endblock %}
{% set active_page = 'stadiums' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            List of sponsors registered in database
        </div>
        <div class="panel-body">
            <div id="op-main-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" id="op-error-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Shame! <i>*rings bell*</i></strong> Something went wrong and your process could not be completed.
            </div>
            <div id="op-update-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" id="op-update-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Whoa!</strong> You choose too many stadiums or you forgot to choose some one.
            </div>
            <div id="op-main-success-alert" class="alert alert-success alert-dismissible" role="alert" hidden>
                <button type="button" class="close" id="op-success-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>BAM! </strong> Your operation successfully completed.
            </div>
            <table id="glorious-table" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th hidden>Stadium ID</th>
                        <th>Stadium Name</th>
                        <th>Stadium Team</th>
                        <th>Stadium Location</th>
                        <th>Stadium Capacity</th>
                    </tr>
                </thead>
                <tbody id="glorious-table-body">
                {% for stadium in stadiums_data %}
                    <tr>
                        <td hidden>{{ stadium['id'] }}</td>
                        <td>{{ stadium['name'] }}</td>
                        <td>{{ stadium['team'] }}</td>
                        <td>{{ stadium['location'] }}</td>
                        <td>{{ stadium['capacity'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New Data <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#add-new-stadium">Add New Stadium</a></li>
                </ul>
            </div>

            <button class="btn btn-primary" href="#" id="delete-rows-button-stadium">Delete Selected Row(s)</button>
        </div>
    </div>

    <!-- Modal form for Add Screen -->
    <div class="modal fade" id="add-new-stadium" tabindex="-1" role="dialog"
         aria-labelledby="add-new-stadium-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="modal-add-close" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-new-stadium-title">Add New Stadium</h4>
          </div>
        <form id="modal-add-form-stadium" action="#" method="post">
          <div class="modal-body">
              <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="modal-stadium-name" type="text" name="stadium_name"
                       class="form-control" placeholder="Stadium Name" required>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <select id="modal-stadium-team" class="form-control">
                        <option value="none">None</option>
                        {% if teams %}
                            {% for team in teams %}
                            <option>{{ team['name'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <select id="modal-stadium-location" class="form-control">
                        <option value="none">None</option>
                        {% if cities %}
                            {% for city in cities %}
                            <option>{{ city['name'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="modal-stadium-capacity" type="integer" name="stadium_capacity"
                       class="form-control" placeholder="Stadium Capacity" required>
                </div>
              </div>

          </div>

              <div class="modal-footer">
                  <button type="submit" id="form-submit-button" class="btn btn-default">Submit</button>
              </div>

            </form>
        </div>
      </div>
    </div>
    <!-- End modal form -->

{% endblock %}