{% extends "manager/layout.html" %}
{% block title %}Team_stats{% endblock %}
{% set active_page = 'team_stats' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            List of sponsors registered in database
        </div>
        <div class="panel-body">
            <div id="op-main-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" id="op-error-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Shame! <i>*rings bell*</i></strong> Something went wrong and your process could not be completed.
            </div>
            <div id="op-update-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" id="op-update-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Whoa!</strong> You choose too many team_stats or you forgot to choose some one.
            </div>
            <div id="op-main-success-alert" class="alert alert-success alert-dismissible" role="alert" hidden>
                <button type="button" class="close" id="op-success-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>BAM! </strong> Your operation successfully completed.
            </div>
            <table id="glorious-table" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th hidden>Team_stat ID</th>
                        <th>Team_stat Name</th>
                        <th>Team_stat Win</th>
                        <th>Team_stat Draw</th>
                        <th>Team_stat Loss</th>
                    </tr>
                </thead>
                <tbody id="glorious-table-body">
                {% for team_stat in team_stats_data %}
                    <tr>
                        <td hidden>{{ team_stat['id'] }}</td>
                        <td>{{ team_stat['name'] }}</td>
                        <td>{{ team_stat['win'] }}</td>
                        <td>{{ team_stat['draw'] }}</td>
                        <td>{{ team_stat['loss'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New Data <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#add-new-team_stat">Add New Team_stat</a></li>
                </ul>
            </div>
            <button class="btn btn-primary" href="#" id="update-rows-button-team_stat">Update Selected Row</button>
            <button class="btn btn-primary" href="#" id="delete-rows-button-team_stat">Delete Selected Row(s)</button>
        </div>
    </div>

    <!-- Modal form for Add Screen -->
    <div class="modal fade" id="add-new-team_stat" tabindex="-1" role="dialog"
         aria-labelledby="add-new-team_stat-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="modal-add-close" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-new-team_stat-title">Add New Team_stat</h4>
          </div>
        <form id="modal-add-form-team_stat" action="#" method="post">
          <div class="modal-body">
              <div class="form-group">

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <select id="modal-team_stat-name" class="form-control">
                        {% if teams %}
                            {% for team in teams %}
                            <option>{{ team['name'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="modal-team_stat-win" type="integer" name="team_stat_win"
                       class="form-control" placeholder="Team_stat Win" required>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="modal-team_stat-draw" type="integer" name="team_stat_draw"
                       class="form-control" placeholder="Team_stat Draw" required>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="modal-team_stat-loss" type="integer" name="team_stat_loss"
                       class="form-control" placeholder="Team_stat Loss" required>
                </div>
              </div>

          </div>

              <div class="modal-footer">
                  <button type="submit" id="form-submit-button" class="btn btn-default">Submit</button>
              </div>

            </form>
        </div>
      </div>
    </div>
    <!-- End modal form -->

    <!-- Start Update Modal Form -->
    <div class="modal fade" id="modal-team_stat-update" tabindex="-1" role="dialog" aria-labelledby="update-team_stat-label"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" id="close-update-team_stat" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>

            <h4 class="modal-title" id="update-team_stat-title">Update Team_stat</h4>

          </div>

        <form id="modal-update-form-team_stat" action="#" method="post">
          <div class="modal-body">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        <select id="modal-update-team_stat-name" class="form-control">
                            {% if teams %}
                                {% for team in teams %}
                                <option>{{ team['name'] }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        <input id="modal-update-team_stat-win" type="number" name="team_stat-win"
                           class="form-control" placeholder="Team_stat Win" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        <input id="modal-update-team_stat-draw" type="number" name="team_stat-draw"
                           class="form-control" placeholder="Team_stat Draw" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        <input id="modal-update-team_stat-loss" type="number" name="team_stat-loss"
                           class="form-control" placeholder="Team_stat Loss" required>
                    </div>
                </div>

            </div>

              <div class="modal-footer">
                  <button type="submit" id="form-submit-button-update" class="btn btn-default">Submit</button>
              </div>

            </form>
        </div>
      </div>
    </div>
    <!--- End Update Modal Form -->

{% endblock %}