{% set navigation_bar = [
        ('/', 'home', 'Home'),
        ('/people', 'people', 'People'),
        ('/countries', 'countries', 'Countries'),
        ('/leagues', 'leagues', 'Leagues'),
        ('/penalties', 'penalties', 'Penalties'),
        ('/cities', 'cities', 'Cities'),
        ('/teams', 'teams', 'Teams'),
        ('/sponsorships', 'sponsorships', 'Sponsorships') ] -%}
{% set active_page = active_page|default('home') -%}
{% set version = '0.3.8' -%}

<!DOCTYPE html>

<!-- Head area -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Oguz Kerem Tural, Umut Can Ozyar, Mert Seker, Furkan Akgun, Emine Oyku Bozkir">

    <!-- Bootstrap JS ve CSS files taken from Bootstrap CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <!-- Bootstrap and DataTables JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

    <!-- Google Maps JS API -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCZGB4LyytNSiSk3hsmIrgM0ikaOO3NMUs" async defer></script>

    <!-- Custom CSS style -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Custom js functions -->
    <script src="/static/js/custom.js"></script>

    <title>DBall | {% block title %}{% endblock %}</title>

</head>
<!-- End Head area -->

<!-- Navbar area -->
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- User navbar area -->
                    {%  if not session.logged_in %}
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a></li>
                    {% else %}
                        <!-- User navbar area -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                 {{ session.email }}
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('manage') }}">Manager</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                            </ul>
                        </li>
                        <!-- End user navbar area -->
                    {% endif %}
				    <!-- End user navbar area -->
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End Navbar area -->

<!-- Modal form for Login Screen -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
      </div>
        <div id="login-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Oops!</strong> You entered wrong credentials.
        </div>
        <div id="login-error-alert" class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Test user credentials: </strong> User mail: <i>test@test.com</i> Password: <i>test</i>
        </div>
    <form id="modal-submit-form" action="#" method="post">
      <div class="modal-body">

          <div class="form-group">
            <label>Email address</label>
            <input id="modal-login-email" type="email" name="email" class="form-control" placeholder="Enter Email" required>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input id="modal-login-password" type="password" name="password" class="form-control" placeholder="Enter Password" required>
          </div>

        </div>

          <div class="modal-footer">
           <button type="submit" id="form-submit-button" class="btn btn-default">Submit</button>
          </div>

        </form>
    </div>
  </div>
</div>
<!-- End modal form -->

<!-- Modal form for About Screen -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutModalLabel">About Team</h4>
      </div>
      <div class="modal-body">
        <p>You know who we are.</p>
      </div>
      <div class="modal-footer center-block">
          <div class="pull-left"><small>DBall Database Application v{{ version }}</small></div>
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>
<!-- End modal form -->

<!-- Body area -->
<body>
  <div class="container-fluid">
      <section>
          <div class="jumbotron">
              {% block content %}{% endblock %}
          </div>
      </section>
  </div>
    <!-- Footer area -->
    <div class="footer visible-lg-block">
        <div class="container">
          <p class="text-muted">
            &copy; 2015. DBall.

            <a href="#" class="pull-right" data-toggle="modal" data-target="#aboutModal">
              <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            </a>
          </p>
        </div>
    </div>
    <!-- End Footer area -->
</body>
<!-- End Body area -->
</html>