{% extends "layout.html" %}
{% set active_page = 'leagues' %}
{% block title %}Leagues{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            List of Leagues registered in database

            <a id = "send-to-manager" class="btn btn-default"
               {% if not session.logged_in %}onclick="$('#log-main-error-alert').show()" {% endif %}
                    href="{% if session.logged_in %}{{ url_for('manage_leagues') }}{% else %}#{% endif %}">Manage</a>
        </div>

        <div class="panel-body">
            <div id="log-main-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" onclick="$('#log-main-error-alert').hide()">&times;</span>
                </button>
                <strong>Oops!</strong> You should be logged in to manage database. You can login from upper right corner.
                <i>(From <span class="glyphicon glyphicon-log-in"></span> icon)</i>
            </div>

            <table id="glorious-table" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th hidden>League ID</th>
                        <th>League Name</th>
                        <th>League Country</th>
                        <th>League Start Date</th>
                    </tr>
                </thead>
                <tbody id="glorious-table-body">
                {% if league_data %}
                {% for league in league_data %}
                    <tr>
                        <td hidden>{{ league['id'] }}</td>
                        <td>{{ league['name'] }}</td>
                        <td>{{ league['country'] }}</td>
                        <td>{{ league['start_date'] }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}