{% extends "layout.html" %}
{% set active_page = 'leagues' %}
{% block title %}Leagues{% endblock %}

{% block content %}

<script type="text/javascript">
       function showstats(a, count)
       {
           var e = a.parentElement.parentElement.parentElement.children[2*count-1];

           if(e.style.display == 'block')
                e.style.display = 'none';
           else
                e.style.display = 'block';

           console.log(node);
       }
</script>

    <div class="panel panel-default">
        <div class="panel-heading">
            List of Leagues registered in database

            <a id = "send-to-manager" class="btn btn-default"
               {% if not session.logged_in %}onclick="$('#log-main-error-alert').show()" {% endif %}
                    href="{% if session.logged_in %}{{ url_for('manage_leagues') }}{% else %}#{% endif %}">Manage</a>
        </div>

        <div class="panel-body">
            <div id="log-main-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" onclick="$('#log-main-error-alert').hide()">&times;</span>
                </button>
                <strong>Oops!</strong> You should be logged in to manage database. You can login from upper right corner.
                <i>(From <span class="glyphicon glyphicon-log-in"></span> icon)</i>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-5" style="text-align:center;">
                            <i class="fa fa-university"></i>League</th>
                        <th class="col-md-5" style="text-align:center;">
                            <i class="fa fa-flag"></i>Country</th>
                        <th class="col-md-5" style="text-align:center;">
                            <i class="fa fa-calendar"></i>Start Date</th>
                        <th class="col-md-2"style="text-align:center;"></th>
                    </tr>
                </thead>
                <tbody>
                {% if league_data %}
                {% set count = 0 %}
                {% for league in league_data %}
                {% set count = count + 1 %}
                    <tr>
                        <td style="text-align:center;">{{ league['name'] }}</td>
                        <td style="text-align:center;">{{ league['country'] }}</td>
                        <td style="text-align:center;">{{ league['start_date'] }}</td>
                        <td style="text-align:center;"><button class="btn btn-default"
                                                               onclick="showstats(this, {{count}});">Leaderboard</button></td>
                    </tr>

                    <tr hidden>
                        <td colspan="2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="7" style="text-align:center;">Home</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center;">Rank</th>
                                    <th style="text-align:center;">Team</th>
                                    <th style="text-align:center;">Played</th>
                                    <th style="text-align:center;">Win</th>
                                    <th style="text-align:center;">Draw</th>
                                    <th style="text-align:center;">Lose</th>
                                    <th style="text-align:center;">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if home_stats_obj %}
                                {% set i = 0 %}
                                {% for home_stats in home_stats_obj %}
                                {% if league['name'] == home_stats['league'] %}
                                {% set i = i+1 %}
                                <tr>
                                    <td style="text-align:center;">{{ i }}</td>
                                    <td style="text-align:center;">{{home_stats['team']}}</td>
                                    <td style="text-align:center;">{{home_stats['home_played']}}</td>
                                    <td style="text-align:center;">{{home_stats['home_wins']}}</td>
                                    <td style="text-align:center;">{{home_stats['home_draw']}}</td>
                                    <td style="text-align:center;">{{home_stats['home_loses']}}</td>
                                    <td style="text-align:center;">{{home_stats['home_points']}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        </td>

                        <td colspan="2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="7" style="text-align:center;">Away</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center;">Rank</th>
                                    <th style="text-align:center;">Team</th>
                                    <th style="text-align:center;">Played</th>
                                    <th style="text-align:center;">Win</th>
                                    <th style="text-align:center;">Draw</th>
                                    <th style="text-align:center;">Lose</th>
                                    <th style="text-align:center;">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if away_stats_obj %}
                                {% set i = 0 %}
                                {% for away_stats in away_stats_obj %}
                                {% if league['name'] == away_stats['league'] %}
                                {% set i = i+1 %}
                                <tr>
                                    <td style="text-align:center;">{{ i }}</td>
                                    <td style="text-align:center;">{{away_stats['team']}}</td>
                                    <td style="text-align:center;">{{away_stats['away_played']}}</td>
                                    <td style="text-align:center;">{{away_stats['away_wins']}}</td>
                                    <td style="text-align:center;">{{away_stats['away_draw']}}</td>
                                    <td style="text-align:center;">{{away_stats['away_loses']}}</td>
                                    <td style="text-align:center;">{{away_stats['away_points']}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}