{% extends "layout.html" %}
{% set active_page = 'matches' %}
{% block title %}Matches{% endblock %}

{% block content %}

<script type="text/javascript">
       function format_time(match_date){
           var time = match_date;
           time_array = time.toString().split('-');
           var monthNames = [
              "January", "February", "March",
              "April", "May", "June", "July",
              "August", "September", "October",
              "November", "December" ];
           console.log(time_array);

           $('#time-td').append(time_array[2] + "/" + monthNames[time_array[1] - 1] + "/" + time_array[0]);
       }

</script>

    <div class="panel panel-default">
        <div class="panel-heading">
            List of Matches registered in database

            <a id = "send-to-manager" class="btn btn-default"
               {% if not session.logged_in %}onclick="$('#log-main-error-alert').show()" {% endif %}
                    href="{% if session.logged_in %}{{ url_for('manage_matches') }}{% else %}#{% endif %}">Manage</a>
        </div>

        <div class="panel-body">
            <div id="log-main-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" onclick="$('#log-main-error-alert').hide()">&times;</span>
                </button>
                <strong>Oops!</strong> You should be logged in to manage database. You can login from upper right corner.
                <i>(From <span class="glyphicon glyphicon-log-in"></span> icon)</i>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-3" style="text-align:center;">Time</th>
                    <th class="col-md-6" style="text-align:center;">Results</th>
                    <th class="col-md-2" style="text-align:center;">Stadium</th>
                    <th class="col-md-2" style="text-align:center;">Referee</th>
                </tr>
                </thead>
                <tbody>
                    {% if match_data %}
                    {% for match in match_data %}
                    <tr style="">
                        <td style="text-align:center;">{{ match['date'] }}</td>
                        <td style="text-align:center;">{{match['name1']}}
                        <span><b>   {{match['score1']}} - {{match['score2']}}  </b></span> {{match['name2']}}</td>
                        <td style="text-align:center;">{{match['stadium']}}</td>
                        <td style="text-align:center;">{{match['referee']}}</td>
                    </tr>
                    {% endfor %}ı
                    {% endif %}
                </tbody>


            </table>

        </div>
    </div>

{% endblock %}