{% extends "layout.html" %}
{% set active_page = 'teams' %}
{% block title %}Teams{% endblock %}
<div class="panel panel-default">
        <div class="panel-heading">
            List of sponsors registered in database
            <a id = "send-to-manager" class="btn btn-default"
               {% if not session.logged_in %}onclick="$('#log-main-error-alert').show()" {% endif %}
                    href="{% if session.logged_in %}{{ url_for('manage_sponsorships') }}{% else %}#{% endif %}">Manage</a>
        </div>
        <div class="panel-body">
            <div id="log-main-error-alert" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" onclick="$('#log-main-error-alert').hide()">&times;</span>
                </button>
                <strong>Oops!</strong> You should be logged in to manage database. You can login from upper right corner.
                <i>(From <span class="glyphicon glyphicon-log-in"></span> icon)</i>
            </div>
            <table id="glorious-table" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Sponsorship ID</th>
                        <th>Sponsor Name</th>
                        <th>Sponsorship Start Date</th>
                        <th>Sponsored League</th>
                        <th>Sponsored Team</th>
                        <th>Sponsored Person</th>
                    </tr>
                </thead>
                <tbody id="glorious-table-body">
                {% if sponsorships_data %}
                {% for sponsorship in sponsorships_data %}
                    <tr>
                        <td>{{ sponsorship['id'] }}</td>
                        <td>{{ sponsorship['name'] }}</td>
                        <td>{{ sponsorship['start_date'] }}</td>
                        <td>{{ sponsorship['league'] }}</td>
                        <td>{{ sponsorship['team'] }}</td>
                        <td>{{ sponsorship['person'] }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}